@use 'uswds-core' with (
  $theme-show-notifications: false,
  $theme-image-path: '@uswds/uswds/img',
  $theme-font-path: '@uswds/uswds/fonts'
);

@forward 'uswds-global';
@forward 'uswds-form-controls';
@forward 'uswds-helpers';
